.custom-container {
    width: 80%;grid-auto-rows: minmax(350px, auto);
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center; /* 水平居中 */
    align-items: center;
    grid-gap: 10px;

}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px; /* 设置圆角 */
    width: 60px; /* 设置长度 */
    height: 25px; /* 设置高度 */
    text-align: center;
    background-color: #4CAF50; /* 设置底色 */
    color: white;
    margin-top:50px;
    padding-top:4px;
    font-size: 15px;
    line-height: 28px; /* 调整文本垂直居中 */
    overflow: hidden; /* 隐藏超出按钮的内容 */
    position: relative;
    z-index: 0;
}

.custom-file-upload input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px; /* 增大字体以覆盖整个按钮 */
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.logged-user-css{
    background-color: rgba(128, 128, 128, 0.2);
    color: white;
    float:right;
    width:100px;
    height:30px;
    border: 2px solid rgba(128, 128, 128, 0.2);
    border-radius: 20px 20px 20px 20px;
    margin-left:30px;
    text-align: center;
    align-items: center;
    padding-top:5px;
}
.logged-user-css:hover {
    border-color: rgba(128, 128, 128, 0.8);

}
.wallpapers-type-container-css {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* 创建两个等宽的列 */
    position:absolute;
    top:600px;
    left:20%;
    height:200px;
    width:60%;
}
.wallpapers-item-container-css{
    background-color: rgba(128, 128, 128, 0);
    color: rgba(128, 128, 128, 0.8);
    float:right;
    width:150px;
    height:60px;
    border: 2px solid rgba(128, 128, 128, 0.8);
    border-radius: 20px 20px 20px 20px;
    margin-left:30px;
    text-align: center;
    padding-top:26px;
    font-size:26px;
}
.wallpapers-item-container-css:hover{
    background-color: rgba(128, 128, 128, 0.8);
    color: rgba(255, 255, 255, 1);
}
.avatar-circle-image {
    width: 100px; /* 设置你想要的宽度 */
    height: 100px; /* 与宽度相同，以保持正方形形状 */
    overflow: hidden; /* 隐藏超出容器的内容 */
    border-radius: 50%; /* 使其变为圆形 */
}
.avatar-circle-image img {
    width: 100%; /* 使图片填充整个容器 */
    height: auto; /* 根据宽度自动调整高度，以保持图片的原始比例 */
    object-fit: cover; /* 如果图片的原始比例与容器不同，这将确保图片覆盖整个容器，而不会拉伸或留下空白 */
}
.custom-detail-css1{
    padding-top:18px;
    color:rgba(128, 128, 128, 1);
    padding-left:60px;font-size:32px;letter-spacing: 10px; width:150px;height:60px;position:absolute;z-index:4;top:65px;left:130px;border-radius: 40px 40px 40px 40px;box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); background-color:#ffffff;
    border: 2px solid rgba(128, 128, 128, 0.8);
}
.custom-detail-css1:hover{
    border: 2px solid rgba(128, 128, 128, 0.8);
    background-color:rgba(128, 128, 128, 0.8);
    color:rgba(255, 255, 255, 1);
}
.custom-detail-css2-1{


    color:rgba(128, 128, 128, 1);
   font-size:32px;letter-spacing: 2px; width:160px;height:80px;position:absolute;z-index:4;top:65px;left:50px;border-radius: 40px 40px 40px 40px;box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); background-color:#ffffff;
    border: 2px solid rgba(128, 128, 128, 0.8);
}
.custom-detail-css2-1 img{
    margin-top:17px;
    margin-left:5px;
    width:40%;
    height:60%;

}
.custom-detail-css2-1 div{
    position:absolute;
    top:17px;
    left:80px;


}
.custom-detail-css2-1:hover{
    border: 2px solid rgba(225, 225, 225, 0.8);

}
.custom-detail-css2-2{


    color:rgba(128, 128, 128, 1);
    font-size:32px;letter-spacing: 2px; width:160px;height:80px;position:absolute;z-index:4;top:65px;right:60px;border-radius: 40px 40px 40px 40px;box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); background-color:#ffffff;
    border: 2px solid rgba(128, 128, 128, 0.8);
}
.custom-detail-css2-2 img{
    margin-top:15px;
    margin-left:5px;
    width:40%;
    height:60%;

}
.custom-detail-css2-2 div{
    position:absolute;
    top:17px;
    left:80px;

}
.custom-detail-css2-2:hover{
    border: 2px solid rgba(225, 225, 225, 0.8);

}
.custom-detail-css3-3{
    color:rgba(128, 128, 128, 1);
    font-size:32px;letter-spacing: 2px; width:120px;height:120px;position:absolute;z-index:4;top:35px;left:60px;border-radius: 60px 60px 60px 60px;box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); background-color:#ff0000;
    border: 2px solid rgba(128, 128, 128, 0.8);
}
.custom-detail-css3-3 img{

    width:100%;
    height:100%;
    border-radius: 60px 60px 60px 60px;

}
.custom-detail-css3-3 div{
    position:absolute;
    top:12px;
    left:180px;
    font-size:64px

}
.custom-detail-css4{

    position:absolute;
    width:1200px;
    height:100px;
    top:1000px;left:100px;
    font-size:50px;
    color:rgba(50, 50, 50, 1);
}