<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
      name：给当前控制器取的一个名字,相当于Servlet中的资源名称,以便浏览器访问，必须以斜杠/开头
      建议使用 name属性,不要使用id,因为早期版本 id 不支持特殊字符 如 /斜杠
     -->
    <bean name="/user/hello.do" class="com.example.javaweb.controller.AjaxController"/>
</beans>